/* general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */
.title{
    display: inline-block;
    background-color: white;
}

/* main */
main{
    width: 1000px;
    padding: 100px;
    background-color: red;
    color: #444851;
}

.container{
    width: 800px;
    margin: auto;
    background-color: white;
}

.button{
    display: inline-block;
}

/* options */
.down-arrow{
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #444851;
        display: inline-block;
}

.right{
    display: inline-block;
}
.wrong{
    display: inline-block;
}
.detail{
    display: inline-block;
}