/* general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(238, 242, 245);
}

/* header */
header{
    background-color: white;
}
.logo-header{
    display: inline-block;
    vertical-align: middle;
}
.title{
    display: inline-block;
    background-color: white;
    line-height: 60px;
    vertical-align: middle;
    font-size: 32px;
}
hr{
    border-color: rgb(238, 242, 245);
}

/* main */
main{
    padding: 50px;
    color: #444851;
}
.container{
    width: 70%;
    margin: auto;
    background-color: white;
}

button{
    display: inline-block;
    font-weight: bold;
    line-height: 5px;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    border-radius: 5px;
}
#add-task{
    margin-left: 50px;
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}
#add-section{
    color: #dadee1;
    background-color: white;
    border-color: #dadee1;
}

/* options */
.down-arrow{
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #444851;
        display: inline-block;
        vertical-align: middle;
}

section{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.option{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.choice{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.right{
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: #2AFF8E;
    border: solid #2AFF8E 1px;
    border-radius: 50%;
    margin-right: 5px;
}
.wrong{
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: red;
    border: solid red 1px;
    border-radius: 50%;
    margin-right: 5px;
}

.detail{
    display: inline-block;
    color: white;
    font-size: 9px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: blue;
}
.editorial{
    background-color: #47adf1;
}